<h2 mat-dialog-title>{{ data ? 'Edit Task' : 'Add Task' }}</h2>
<mat-dialog-content>
  <form [formGroup]="taskForm">
    <mat-form-field appearance="fill">
      <mat-label>Task Name</mat-label>
      <input matInput formControlName="name">
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Deadline</mat-label>
      <input matInput [matDatepicker]="picker" formControlName="deadline">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button (click)="onCancel()">Cancel</button>
  <button mat-button (click)="onSave()" cdkFocusInitial>Save</button>
</mat-dialog-actions>
